* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #60D3B8;
}

header {
    font-size: 4vmin;
    letter-spacing: 0.5vmin;
}

h1 {
    font-size: 2vmin;
}

h2 {
    font-size: 4vmin;
}

h3 {
    font-size: 3vmin;
    margin: 1vmin auto;
}

span {
    font-size: 4vmin;
    margin: 1vmin auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(5, 10vmin);
    gap: 1vmin;
    margin-top: 4vmin;
}

#board>i {
    background-color: #D9D9D9;
}

#modes {
    margin-top: 0;
}

p {
    margin: 1vmin;
}

button {
    min-width: 14vmin;
    margin-top: 2vmin;
    padding: 1vmin;
    font-size: 2vmin;
    border: 0.2vmin solid black;
    border-radius: 4vmin;
    background-color: #D9D9D9;
}

button:hover {
    background-color: white;
    color: black;
}

#medium {
    background-color: white;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#modes {
    margin-top: 0;
}

i::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vmin;
    height: 10vmin;
}
